@{
    ViewBag.Title = "Home";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/Homecss.css" rel="stylesheet" />
<link href="~/CSS/style.css" rel="stylesheet" />
<script src="~/Scripts/Mapfinder.js"></script>
<script src="~/Scripts/script.js"></script>
<script src="~/Scripts/TravelTime.js"></script>
<div id="top_block">
    <div id="tabs">
        <div>
            <span class="navi_tx">@Html.ActionLink("Locate", "Home", "MyHome")</span>
            <span class="navi_tx">@Html.ActionLink("Railway", "Railway", "MyHome")</span>
            <span class="navi_tx">@Html.ActionLink("Bus/Public", "Railway", "MyHome")</span>
            <span class="navi_tx">@Html.ActionLink("Taxi/Private", "Railway", "MyHome")</span>
            <span class="navi_tx">@Html.ActionLink("Map Finder", "MapFinder", "MyHome")</span>
            <span class="navi_tx">@Html.ActionLink("Chat", "Chat", "MyChat")</span>
        </div>
        <div id="Locate" class="navi_hm">
            @Html.Partial("Usersearch")
        </div>
    </div>
    <div>
    </div>
</div>
<div class="heading1">
    We are here to help you with all the travelling facilities !!!
</div>
<div>
    @Html.ActionLink("Take a tour of burdwan!","Tour","Tour")
</div>
