<!DOCTYPE html>
@{
    ViewBag.Title = "Home";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - IndiaLance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="~/CSS/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</head>
<body>
    <div class="main">
        <div class="clr">
        </div>
        <div class="header">
            <div class="logo">
                <h1>
                    <span class="logo1">@Html.ActionLink("IndiaLance","Home","Home")</span><span class="logo1">&nbsp; </span><span>
                        <span class="logo2">Find your way</span></span><small>Beta v1.0</small></h1>
            </div>
            <div class="menu_nav">
                <ul>
                    <li class="active">@Html.ActionLink("Home","Home","MyHome")</li>
                    <li class="active">@Html.ActionLink("Support","Home","MyHome")</li>
                    <li class="active">@Html.ActionLink("About Us","Home","MyHome")</li>
                    <li class="active">@Html.ActionLink("Blog","Home","MyHome")</li>
                    <li class="active">@Html.ActionLink("Contact Us","Home","MyHome")</li>
                </ul>
                <div class="clr">
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
        <aside>
            <a href="Javascript:window.location.reload(true);" id="HyperLink1">Refresh</a>
            <a href="Javascript:window.print();" id="HyperLink2">Print</a>
            <br />
        </aside>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
